extends personCenter
block centerContent
    script(src='../js/myAccount.bundle.js',type='text/javascript')
    .my-baseInfo-wrapper
        .my-baseInfo-main
            .show-all-balance-area
                span 当前积分:
                em 12214326
                span 当前积分:
                em 12214326
                span 当前积分:
                em 12214326
            .handle-balance-area
                .biaozhi
                .btn-big 点击债权金转余额
                .btn-normal
                    img(src="../img/output.png")
                    | 提现
                .btn-normal
                    img(src="../img/input.png")
                    | 充值
    .my-record-wrapper
        h3.my-title
            span 我的记录
        .table-wrapper
            .offcial-table
                ul.tr-th.clearfix
                    li.th.w20 单号
                    li.th.w20 交易信息
                    li.th.w20 时间
                    li.th.w20 金额
                ul.tr-td.clearfix
                    li.th.w20 1453875896
                    li.th.w20 商品包A 加入债权循环模式
                    li.th.w20 2017.4.15
                    li.th.w20 ￥1829
                
