html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

th, td {
  text-align: left;
  font-weight: normal; }

img, iframe {
  border: none;
  text-decoration: none; }

ol, ul {
  list-style: none; }

input, textarea, select, button {
  font-size: 100%;
  font-family: inherit; }

select {
  margin: inherit; }

hr {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  background-color: #000;
  height: 1px; }

html {
  font: 125%/1 "microsoft yahei","Arial Narrow"; }

a {
  text-decoration: none; }

a:visited {
  color: #666; }

a:hover, a:active, a:focus {
  color: #ff8400;
  /* text-decoration:underline;*/ }

.clearfix:after {
  content: ".";
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
  display: block; }

html, body {
  width: 100%;
  height: 100%; }

section {
  width: 7.5rem;
  height: 100%;
  overflow: auto; }
  section .main {
    height: 100%;
    padding-top: 0.12rem;
    background-color: #f0f0f0; }
    section .main .shop-show-image {
      margin-bottom: 0.1rem;
      height: 3.45rem;
      background-color: #fff; }
    section .main .shop-show-image {
      padding-top: 8px;
      background-color: #fff; }
      section .main .shop-show-image .h3-title {
        padding-left: 0.47rem;
        font-size: 0.26rem;
        height: 0.74rem;
        line-height: 0.74rem;
        color: #404040; }
      section .main .shop-show-image .image-content {
        width: 100%;
        overflow: hidden; }
        section .main .shop-show-image .image-content .shop-image-single {
          margin-left: 0.36rem;
          float: left;
          width: 3.22rem;
          height: 2.38rem;
          background-color: #f00; }
          section .main .shop-show-image .image-content .shop-image-single img {
            width: 100%;
            height: 100%; }
    section .main .shop-mess {
      height: 5.89rem;
      font-size: 0.26rem; }
      section .main .shop-mess .shop-serve, section .main .shop-mess .shop-detail-mess {
        margin-bottom: 0.12rem;
        background-color: #fff; }
      section .main .shop-mess .show-content-list {
        width: 100%; }
        section .main .shop-mess .show-content-list li {
          padding-left: 0.47rem;
          line-height: 0.7rem;
          color: #989898;
          position: relative;
          height: 0.7rem;
          border-bottom: 1px solid #e3e3e3; }
          section .main .shop-mess .show-content-list li i {
            display: block;
            width: 0.16rem;
            height: 0.26rem;
            position: absolute;
            right: 0.33rem;
            top: 0.2rem; }
            section .main .shop-mess .show-content-list li i img {
              width: 100%;
              height: 100%;
              position: absolute; }
        section .main .shop-mess .show-content-list li.title {
          color: #3f3f3f; }

/*# sourceMappingURL=shopdetail.css.map */
