body{
      padding:0 20px;
      font-size: 12px;

    }
    h3.title{
      text-align: center;
      height:44px;
      line-height: 44px;
      border-bottom:1px solid #000;
    }
    .thumbInfo{
      height:28px;
      /*line-height: 44px;*/
      text-align: center;
      padding-right: 50px;
    }
    .infoWrap{
      display: inline-block;
    }
    .layui-table td, .layui-table th{
      /*border:1px solid #000; */
    }

    .fl{
      float:left;
    }
    .fr{
      float: right;
    }

    .clearfix:after {
  content: ".";
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
  display: block; }

  .layui-table td, .layui-table th {
    /*font-size: 12px;*/
    /*transform:scale(0.9);*/
  }
  .layui-table td, .layui-table th{
    /*padding:5px 1px;*/
  }