html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

th, td {
  text-align: left;
  font-weight: normal; }

img, iframe {
  border: none;
  text-decoration: none; }

ol, ul {
  list-style: none; }

input, textarea, select, button {
  font-size: 100%;
  font-family: inherit; }

select {
  margin: inherit; }

hr {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  background-color: #000;
  height: 1px; }

html {
  font: 125%/1 "microsoft yahei","Arial Narrow"; }

a {
  text-decoration: none; }

a:visited {
  color: #666; }

a:hover, a:active, a:focus {
  color: #ff8400;
  /* text-decoration:underline;*/ }

.clearfix:after {
  content: ".";
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
  display: block; }

html, body {
  width: 100%;
  height: 100%; }

section {
  width: 750px;
  height: 100%;
  overflow: hidden;
  background: #f0f0f0; }
  section .main {
    border-top: 1px solid #e3e3e3;
    display: -webkit-box;
    display: box;
    -ms-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    height: 100%;
    overflow: hidden; }
    section .main .bannner-wrap {
      width: 100%;
      height: 258px;
      background: #fff;
      margin-top: 13px; }
    section .main .register-con {
      width: 750px;
      -moz-box-flex: 1;
      -webkit-box-flex: 1;
      box-flex: 1;
      overflow: auto;
      margin-top: 13px; }
      section .main .register-con ul li {
        height: 84px;
        border-bottom: 2px solid #e3e3e3;
        font-size: 20px;
        line-height: 84px;
        padding-left: 110px;
        color: #666;
        background: #fff;
        position: relative; }
        section .main .register-con ul li .lefticon {
          width: 36px;
          height: 36px;
          position: absolute;
          top: 30px;
          left: 32px; }
        section .main .register-con ul li input {
          border: none;
          outline: 0;
          margin-left: 10px; }
        section .main .register-con ul li .yzwraper {
          width: 102px;
          height: 40px;
          border: 2px solid #979797;
          background: #d8d8d8;
          position: absolute;
          top: 22px;
          right: 74px; }
        section .main .register-con ul li .img {
          width: 29px;
          height: 30px;
          background: url(../img/update.png) no-repeat;
          position: absolute;
          top: 30px;
          right: 20px; }
      section .main .register-con .submit {
        width: 568px;
        height: 80px;
        background: #f8c121;
        border-radius: 20px;
        text-align: center;
        margin: 66px 0 0 92px;
        color: #fff;
        font-size: 30px;
        line-height: 80px; }
      section .main .register-con p.role {
        width: 672px;
        font-size: 26px;
        line-height: 40px; }

/*# sourceMappingURL=register.css.map */
