<ion-view view-title="朋友圈">
	<ion-content>
		<ion-list class="card">
			<ion-item class="item-avatar">
				<img src="../img/adam.jpg"/>
				<h2>Venkman</h2>
	      		<p>Back off, man. I'm a scientist.</p>
			</ion-item>
			<ion-item class="item-body">
				<img class="full-image" src="../img/c1.jpg"/>
				<p>我又发布了一辆新车，上天入地舍我其谁？呵呵。</p>
			</ion-item>
			<ion-item>
				<button class="button button-positive item-left">
				    <i class="icon ion-thumbsup"></i>
				    <span>1113 赞</span>
				</button>
            	<!-- <i class="icon ion-text"></i>
                <span>600 评论</span>
            	<span class="item-right">发布于1小时前</span> -->
            </ion-item>
		</ion-list>	
	</ion-content>
</ion-view>