<ion-view view-title="个人中心">
  <ion-content>
    <ion-listclass="padding">
      <ion-item>
        <ion-label>用户名</ion-label>
        <input type="text" ng-model="user.username">
      </ion-item>
      <ion-item>
        <ion-label>密码</ion-label>
        <input type="text" ng-model="user.pass">
      </ion-item>
        <button class="button button-block button-calm" >登录</button>
        <button class="button button-positive button-outline" style="float:right">还没账号？点击注册</button>
    </ion-list>
  </ion-content>
</ion-view>