<ion-tabs class="tabs-icon-top tabs-positive">
	<ion-tab title="首页" icon="ion-home" href="#/tab/home">
		<ion-nav-view name="home-home"></ion-nav-view>
	</ion-tab>
	<ion-tab title="朋友圈" icon="ion-android-contact" href="#/tab/contacts">
		<ion-nav-view name="home-contacts"></ion-nav-view>
	</ion-tab>
	<ion-tab title="联系人" icon="ion-person-stalker" href="#/tab/contact">
		<ion-nav-view name="home-contact"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我的" icon="ion-person" href="#/tab/login">
		<ion-nav-view name="home-center"></ion-nav-view>
	</ion-tab>
</ion-tabs>