<ion-view view-title="注册">
	<ion-content>
		<div class="list list-inset">
		  <label class="item item-input">
		   	<i class="icon ion-ios-person-outline placeholder-icon" style="font-size:30px"></i>
		    <input type="text" placeholder="用户名">
		  </label>
		  <label class="item item-input">
		  	<i class="icon ion-locked placeholder-icon" style="font-size:24px"></i>
		    <input type="text" placeholder="密码">
		  </label>
		  <label class="item item-input">
		  	<i class="icon ion-locked placeholder-icon" style="font-size:24px"></i>
		    <input type="text" placeholder="再次输入密码">
		  </label>
		</div>
		<a class="button button-positive button-large" style="margin:0 40px 0 30px;width:100px;hieght:20px;">注册</a>
		<a class="button button-positive button-large" style="width:100px;hieght:20px;" href="#/tab/home">取消</a>
	</ion-content>
</ion-view>