<ion-view view-title="生活圈">
	<ion-content>
		<h1 class="titles">冬季养生</h1>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/001.jpg" alt="">
				<h2>冬季吃什么美容</h2>
				<p>ovember 05, 1955</p>
			</div>
			<div class="item item-body">
			    <img class="full-image" src="img/001.jpg">
			    <p>
			     1、冬季吃蜂蜜美容

					味甘,性平,自古就是滋补强身的佳品。功效:对润肺止咳,润畅通便有显着功效,很容易被人体吸收利用。
			    </p>
			    <p>
			      <a href="#" class="subdued">30 喜欢</a>
			      <a href="#" class="subdued">500 评论</a>
			    </p>
			</div>
		</div>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/baicai.jpg" alt="">
				<h2>冬季吃什么蔬菜好</h2>
				<p>ovember 05, 1955</p>
			</div>
			<div class="item item-body">
			    <img class="full-image" src="img/baicai.jpg">
			    <p>
			    1、冬季吃白菜

				白菜不仅营养丰富、味道鲜美,而且便于储存,大白菜有通利肠胃的功效,而且经常吃大白菜的话,能够起到刮肠排毒的作用。
			    </p>
			    <p>
			    	2、冬季吃红薯

					红薯味道甜美,富含碳水化合物、膳食纤维、胡萝卜素、多种维生素以及钾、镁、铜、硒、钙等多种矿物质。
			    </p>
			    <p>
			    	3、冬季吃萝卜

					俗话说,冬吃萝卜夏吃姜,不用医生开药方。萝卜有解除烦热、养护脾胃的功效。而在冬季脾胃易受损伤,进补养生不妨从吃萝卜护脾胃开始。
			    </p>
			    <p>
			    	4、冬季吃山药

					山药中含有多种微量元素,具有很好的滋补作用,是病后康复食补的佳品。山药还含有丰富的维生素和矿物质,所含热量相对较低。
			    </p>
			    <p>
			      <a href="#" class="subdued">18 喜欢</a>
			      <a href="#" class="subdued">59 评论</a>
			    </p>
			</div>
		</div>
		<div class="list card">
			<div class="item item-avatar">
				<img src="img/001.jpg" alt="">
				<h2>冬季饮食禁忌</h2>
				<p>ovember 05, 1955</p>
			</div>
			<div class="item item-body">
			    <img class="full-image" src="img/001.jpg">
			    <p>
			     1、吃黑斑红薯会中毒

				表皮呈褐色或黑色斑点的红薯,是受到了黑斑病菌的污染。黑斑病菌排出的毒素,含有番薯酮和番薯酮醇,使番薯变硬,发苦,对人体的肝脏不剧毒。这种毒素用水煮、蒸和火烤,其生物活性均不能破坏,故生吃或熟吃有黑斑病的红薯均能引起中毒。
			    </p>
			    <p>
			    2、牛奶的饮食禁忌

				冬天喝一杯温热的牛奶,暖胃又好睡眠。谈到牛奶似乎总不能忘记巧克力,但是喝牛奶同时吃巧克力是很不科学的。因为牛奶含有丰富的钙和蛋白质,而巧克力中含有草酸,牛奶和巧克力一起吃时,牛奶中的钙易和巧克力中的草酸形成不溶于水的沉淀物———草酸钙。人不但无法吸收,时间长了,还会出现头发干枯、腹泻、缺钙和生长发育迟缓等现象。所以,喝牛奶与吃巧克力的时间要分开。
			    </p>

			    <p>
			      <a href="#" class="subdued">16 喜欢</a>
			      <a href="#" class="subdued">88 评论</a>
			    </p>
			</div>
		</div>

	</ion-content>
</ion-view>