@import 'reset';
html,body{
	width:100%;
	height:100%;
    
}

section{
    width:7.5rem;
    height:100%;
    overflow:hidden;
    .registerTitle{
        font-size:0.32rem;
        height:0.82rem;
        margin-left:-0.4rem;
        text-align:center;
        line-height:0.82rem;
        color:#666;
        border-bottom:2px solid #e3e3e3;

        span{
            float:left;
            line-height:0.82rem;
            color:#666;
            padding-left:0.4rem;
            font-size:0.45rem;
            width:0.8rem;
            text-align:center;
        }

    }
    .main{

         display:-webkit-box;
        display:box;
        -ms-box-orient:vertical;
        -moz-box-orient:vertical;
        -webkit-box-orient:vertical;
        height: 100%;
        overflow:hidden;
        .bannner-wrap{
            position:relative;
            width:7.5rem;
            height:2.75rem;
            background-color: #fff;
            margin-top:0.13rem;
            background-size:1.03rem 1.1rem;
            background-repeat: no-repeat;
            background-image: url(../img/logo.png);
            background-position:2.26rem 0.84rem;

            p{
                position:absolute;
                font-size:0.26rem;
                color:#666;
                left:50%;
                top:50%;

                
            }

            .step{
                position:absolute;
                width:4.86rem;
                height:0.35rem;
                left:50%;
                bottom:0;
                margin-left:-2.43rem;
            }
        }
        .register-con{
            width:7.5rem;
            -moz-box-flex:1;
            -webkit-box-flex:1;
            box-flex:1;
            overflow: auto;
            margin-top:0.13rem;
            ul{
                padding-left:0.92rem;
                padding-right:0.78rem;
                li{
                    height:0.84rem;
                    border-bottom:0.02rem solid #e3e3e3;
                    font-size:0.20rem;
                    line-height:0.84rem;
                    padding-left:1.1rem;
                    color:#666;
                    background: #fff;
                    position:relative;
                    .lefticon{
                         width:0.36rem;
                        height:0.36rem;
                        
                         position:absolute;
                        top:0.3rem;
                        left:0.32rem;
                    }
                    input{
                        border:none;
                        padding-left:0.2rem;
                        outline: 0;
                        margin-left:0.1rem;
                    }
                    
                    .yzwraper{
                        width:1.02rem;
                        height:0.4rem;
                        border:0.02rem solid #979797;
                        background: #d8d8d8;
                        position:absolute;
                        top:0.22rem;
                        right:0.74rem;
                    }
                    .img{
                        width:0.29rem;
                        height:0.3rem;
                        background: url(../img/update.png) no-repeat;
                         position:absolute;
                        top:0.3rem;
                        right:0.2rem;
                    }

                }
            }
            .submit,.next-step{
                width:5.68rem;
                height:0.8rem;
                background: #f8c121;
                border-radius:0.2rem;
                text-align: center;
                margin: 0.66rem 0 0.8rem 0.92rem;
                color:#fff;
                font-size:0.3rem;
                line-height: 0.8rem;
            }
            p.role{
                width:6.32rem;
                padding-left:0.4rem;
                font-size:0.26rem;
                line-height: 0.4rem;
                color:#666;

            }
        }
    }
}