@import 'reset';

html,body{
	width:100%;
	height:100%;
}

section{
	width:7.5rem;
	height:100%;
	display:-webkit-box;
	display:box;
	-ms-box-orient:vertical;
	-moz-box-orient:vertical;
	-webkit-box-orient:vertical;
	overflow:hidden;
	background-color:#f0f0f0;
	.banner-wrapper{
		height:5.86rem;
		width:7.5rem;
		background: #f00;
		
		overflow:hidden;
		.banner-box{
			width:100%;
			height: 4.3rem;
		}
		.goods-intro{
			//width:100%;
			height:1.44rem;
			background: #00f;
			padding-left:0.42rem;
			.topIconContent{
				height:0.54rem;
				width:100%;
				position:relative;
				margin-bottom:0.1rem;
				background: #666;
				.pricewrapper{
					width:1.3rem;
					height:100%;
					span{
						position:relative;
						height:0.54rem;
						
						img{
							width:0.25rem;
							height:0.35rem;
							position:absolute;
							top:0.1rem;
							left:0.12rem;
						}
					}
					em{
						position:absolute;
						left:0.58rem;
						height:0.54rem;
						font-size:0.36rem;
						line-height:0.54rem;
						color:#42ae78;
					}
				}
				.enterbuy{
					position:absolute;
					width:1.06rem;
					height:0.3rem;
					right:0.42rem;
					top:0.14rem;
					img{
						
						width:100%;
						height:100%;
						position:absolute;
						left:0;
						top:0;
					}
				}
			}
			.bottomCon{
				height:0.8rem;
				font-size:0.28rem;
				width:100%;
				line-height: 0.8rem;
				background: #0f0;
			}
		}
	}
	.main{
		margin-top:0.12rem;
		padding:0.03rem 0.2rem 0;
		background-color:#fff;
		width:100%;
		-moz-box-flex:1;
	    -webkit-box-flex:1;
	    box-flex:1;
		overflow: auto;
		.h3-title{
			text-align:center;
			color:#666;
			height:0.74rem;
			font-size:0.34rem;
			line-height:0.74rem;
		}

		.img-content{
			font-size:0;
			width:100%;
			.img-single{
				width:100%;
				overflow:hidden;
				//margin-top:-1px;
				img{
					width:100%;
				}
			}
			
		}
		
		
	}
}

.swipper-container{
	width:7.5rem;
	height:5.86rem;
}

.aa{
	width:7.5rem;
	height:5.86rem;
	background: #f00;
}
.bb{
	width:7.5rem;
	height:5.86rem;
	background: #00f;
}
.cc{
	width:7.5rem;
	height:5.86rem;
	background: #0f0;
}

.box{width:7.5rem;
	height:100%;overflow: hidden;}
.box1{width:750px;
	height:100%;
	div{
		display: inline-block;
	}
	}
		.aa{width:7.5rem;
	height:100%;}
		.aa img{width:7.5rem;
	height:100%;}
		.bb1{background: red;}
		.bb2{background: yellow;}
		.bb3{background: pink;}
		.bb4{background: blue;}





