
header{
     background-color: #fff;
     .wd-title-container{
         width:1000px;
         height:30px;
         margin:0 auto;
         font-size:14px;
         line-height:30px;
         border-bottom:1px solid #d9d9d9;
         a{
             color:#6d6d6d;
         }
         ul.left-logo-name{
             float:left;
             a{
                 color:#7ccb99;
             }
         }
         ul.right-menu-area{
             float: right;
             li{
                 float:left;
                 margin:0 10px;
             }
         }
     }
     .wd-logo-container{
         width:984px;
         height:73px;
         margin:0 auto;
         padding-top:15px;
         padding-left: 16px;
         .logoImage{
             float:left;
             margin-right:148px;
             width:164px;
             height:41px;
         }
         .wd-search-area{
             float:left;
             margin-right:98px;
             .logo-search-form{
                 width:371px;
                 height:42px;
                 padding:3px;
                 background:#59bd7d;
                 .search-text{
                     width:288px;
                     height:36px;
                     line-height: 36px;
                     font-size: 16px;

                 }
                 .search-btn{
                     width:73px;
                     height:36px;
                     line-height: 36px;
                     background: none;
                     border:none;
                     outline:none;

                 }
             }
             .hotwords{
                 a{
                     color:#5a5959;
                     font-size: 12px;
                     margin-right: 16px;
                 }
                 
                 
             }
         }
         .wd-shoppinglist-small{
             float:left;
             width:133px;
             height:30px;
             padding:2px 3px 0 48px;
             margin-top:10px;
             background: #f4d585 url(../img/header/carbg.png) no-repeat 12px 4px;
             
             .showshopping-con{
                 width:132px;
                 height:28px;
                 font-size: 12px;
                 line-height: 28px;
                 background-color: #fff;
                 color: #616060;
                 text-align: center;
                 span{
                     color:#7ccb99;
                 }
             }

         }

     }

}

.wd-nav-area-bg{
    background-color: #1e1e1e;
    height:40px;
    ul.wd-nav-area{
        width:1000px;
        height:40px;
        margin:0 auto;
        li{
            font-size:14px;
            float:left;
            line-height: 40px;
            
            height:40px;
            text-align: center;
            cursor: pointer;
            a{
                
                float:left;
                padding:0 21px;
                color:#eee;
                
                
            }
        }
        li:hover{
            background-color:#59bd7d;
        }
        li.surprise{
            margin-top: -6px;
            border:1px solid #f8bd80;
            background: #f8bd80;
            
            height:48px;
            background-image:radial-gradient(50% 100%, #ffec01 94%, rgba(255,212,0,0.77) 116%);
            a{
                color:#e85c07;
            }

        }
    }
}

footer{
    //height:248px;
    background-color: #ececec;
    .foot-serve{
        height: 170px;
        width:1000px;
        margin: 0 auto;
        padding-top:20px;
        .foot-serve-top{
            .barcode{
                width:560px;
                height:88px;
                float:left;
                margin-right:12px;
            }
            ul.serve{
                width:92px;
                height: 88px;
                background-color: #ececec;
                border-left:1px solid #fff;
                float:left;
                text-align: center;
                li{
                    height:20px;
                    font-size: 14px;
                    line-height: 20px;
                   
                   
                }
                li:hover{
                    background-color: #fff;
                }
            }
        }
    }
    .foot-about-bg{
        background:#343434;
        height:20px;
        .foot-about{
            width:1000px;
            height: 20px;
            margin: 0 auto;
            font-size: 12px;
            line-height:20px;
            text-align: center;
            a{
                color:#b2b2b2;
                padding:0 17px;
            }
        } 
    }
}